In [1]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import fetch_openml
X,y = fetch_openml('blood-transfusion-service-center', version=1,return_X_y=True)

In [2]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=99)
model= LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

#I wrote a random state number while splitting the data into training sets and test sets.
#So score does not change every time I run the code. Because it splits the data in the same way every time.
#THIS IS THE SCORE OF RAW DATA:

0.78

In [3]:
#Preprocessing operations:

df = pd.DataFrame(X)
df.dropna(inplace=True)
#Dropping missing values.

In [4]:
#dropping correlated features
cor_matrix = df.corr().abs()
upper_tri = cor_matrix.where(np.triu(np.ones(cor_matrix.shape),k=1).astype(np.bool))
to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.95)]
print(to_drop)

['V3']

C:\Users\suhey\AppData\Local\Temp\ipykernel_8016\2729753206.py:3: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  upper_tri = cor_matrix.where(np.triu(np.ones(cor_matrix.shape),k=1).astype(np.bool))

In [5]:
df1 = df.drop(columns=to_drop, axis=1)
df1 #V3 dropped

       V1    V2    V4
0     2.0  50.0  98.0
1     0.0  13.0  28.0
2     1.0  16.0  35.0
3     2.0  20.0  45.0
4     1.0  24.0  77.0
..    ...   ...   ...
743  23.0   2.0  38.0
744  21.0   2.0  52.0
745  23.0   3.0  62.0
746  39.0   1.0  39.0
747  72.0   1.0  72.0

[748 rows x 3 columns]

In [6]:
#Now I try to catch a more linear relation between features and the target.
V1list = df1['V1'].values
for i in range(len(V1list)): V1list[i] = math.sqrt(V1list[i])

V2list = df1['V2'].values
for i in range(len(V2list)): V2list[i] = math.sqrt(V2list[i])

V4list = df1['V4'].values
for i in range(len(V4list)): V4list[i] = math.sqrt(V4list[i])

df1

           V1        V2        V4
0    1.414214  7.071068  9.899495
1    0.000000  3.605551  5.291503
2    1.000000  4.000000  5.916080
3    1.414214  4.472136  6.708204
4    1.000000  4.898979  8.774964
..        ...       ...       ...
743  4.795832  1.414214  6.164414
744  4.582576  1.414214  7.211103
745  4.795832  1.732051  7.874008
746  6.244998  1.000000  6.244998
747  8.485281  1.000000  8.485281

[748 rows x 3 columns]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df1, y, train_size=0.8, random_state=99)
model= LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)
#THIS IS THE SCORE OF PROCESSED DATA:

0.8066666666666666